/* CSS HEX */
/*--isabelline: #F5EEEDff;
--tumbleweed: #D9AE99ff;
--pine-tree: #303025ff;
--coyote-brown: #8E5D39ff;*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "PT Serif", serif;
}


.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #C7967Dff, #D9AE99ff, #F5EEEDff);
    z-index: -1;
}

nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;
    padding-top: 2rem;
    position: relative;
}

.nav-logo {
    grid-column: 2/3;
    font-size: 24px;
}

.logo-icon {
    height: 24px;
    width: 24px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5rem;
    grid-column: 3/4;
    list-style: none;
}

.nav-list a:link,
.nav-list a:visited {
    color: white;
    text-decoration: none;
}

.open-menu,
.close-menu {
    grid-column: 3/4;
    justify-self: end;
    height: 24px;
    width: 24px;
    display: none;
    position: absolute;
    bottom: 16px;
    right: 0;
}

section {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;

}

.hero {
    width: 100%;
    height: 80%;
    border: 5px solid white;
    position: relative;

}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline {
    position: absolute;
    bottom: 2%;
    right: 2%;
    font-size: 80px;
    /* transform: translate(-20%, -20%); */
    color: white;
    font-weight: 700;
}

@media (max-width: 810px) {
    .nav-list {
        display: none;
    }

    .open-menu {
        display: block;
        cursor: pointer;

    }

    .close-menu {
        display: none;
        cursor: pointer;
        z-index: 100;
    }

    .nav-list {
        position: fixed;
        transform: translateY(-100%);
        transition: all .2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: #303025ff;
        color: white;
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }


    .show-menu {
        transform: translateY(0);
    }

    .headline {
        top: 2%;
        left: 3%;
        color: #303025ff;
        /* transform: translate(-20%, -30%); */

    }
}